@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
}

[data-theme='light'] {
  --primary-6: rgb(var(--arcoblue-6));
}

[data-theme='dark'] {
  --primary-6: var(--primary-6)
}
